html{
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue','sans-serif';
  color: #444;
  background: #022043;
  overflow: hidden;
  display: block;
  -web-font-smoothing: antialiased;
  -maz-osx-font-smoothinh: grayscale;

}

